.homeContainerBg {
  background: #111;
  position: relative;
}

.homeContainer {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 40px 80px;
  margin: 0 auto;
}

.homeConteudo {
  position: relative;
  margin-bottom: 24px;
  z-index: 2;
  font-family: "Archivo";
}

.homeConteudo h1 {
  font-weight: 300;
  font-size: 2.225rem;
  margin-bottom: 12px;
  color: #eeeeee;
}

.homeConteudo span svg path {
  fill: #0f89ec;
}

.homeConteudo p {
  font-family: "Archivo";
  font-size: 1.2rem;
  max-width: 60ch;
  color: #eeeeeebb;
}

.homeConteudo p:first-of-type {
  color: #eeeeee8f;
  margin-bottom: 12px;
}

.botao {
  display: flex;
  align-items: center;
  max-width: fit-content;
  gap: 1rem;
  font-family: "Archivo";
  text-transform: uppercase;
  color: #b4b4b4;
  margin-top: 32px;
  border: 1px solid currentColor;
  transition: 0.3s ease;
}

.botao svg {
  transform: translateX(-6px);
  transition: 0.2s;
}

.botao svg path {
  stroke: #b4b4b4;
}

.botao:hover {
  color: #fff;
  padding-right: 32px;
  border-color: #0f89ec;
}

.botao:hover svg {
  transition: 0.2s;
  transform: translateX(8px);
}

.botao:hover svg path {
  stroke: #fff;
}

@media (width <= 630px) {
  .homeContainer {
    padding: 20px;
  }
  .homeConteudo h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .homeConteudo p {
    text-align: center;
    font-size: 1rem;
  }
  .botao {
    font-size: 0.825rem;
    justify-self: center;
    justify-content: center;
    margin: 32px 16px 0 16px;
    max-width: 100%;
  }
  .botao:hover {
    padding-right: 24px;
  }
}

.tecnologiasArea {
  position: relative;
  z-index: 2;
}

.tecnologiasArea .tecnologiasLista {
  overflow: hidden;
  background-color: #ffffff38;
  border: 1px solid rgb(146, 146, 146);
  max-width: fit-content;
  justify-content: start;
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.tecnologiasArea .tecnologiasLista::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  display: block;
  background-color: #000000c0;
  transition: 0.3s ease;
}
.hoverEffect {
  position: absolute;
  left: -50%;
  z-index: 2;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #eee;
  transition: 0.3s ease;
}
.tecnologiasArea .tecnologiasLista:hover::after {
  backdrop-filter: blur(2px);
  opacity: 1;
}

.tecnologiasArea .tecnologiasLista:hover .hoverEffect {
  left: 25%;
}

.tecnologiasArea .tecnologiasLista svg {
  width: 28px;
  height: 28px;
}

.tecnologiasArea span {
  color: #b4b4b4;
  cursor: default;
  display: block;
  font-size: 1.125rem;
  margin-bottom: 12px;
  padding-left: 8px;
}

@media (width <= 630px) {
  .tecnologiasArea {
    margin: 0 auto;
  }
  .tecnologiasArea > span {
    text-align: center;
    padding: 0;
  }
  .tecnologiasArea .tecnologiasLista {
    padding: 8px 16px;
    border-radius: 24px;
    gap: 1rem;
  }
}
