.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
  position: relative;
  background-color: #111;
}

.header h1 {
  font-family: "Archivo";
  filter: blur(0.7px);
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #eeeeee;
  cursor: pointer;
  font-weight: 400;
}

.header > a:hover h1 {
  filter: blur(0px);
}

@media (width <= 630px) {
  .header {
    padding: 20px 30px;
  }
  .header h1 {
    font-size: 5vw;
  }
}
